# Logs #
########
*.log

# Simulations #
###############
*.wdb
*.exe
*.cmd
*/isim/*
#top_usage.xml
#top_summary.xml
#test_summary.html
#top_envsettings.html
*.html
*.xml
*.xst
*.cmd_log
*.ncd
*.ngd
*.par
*.pcf
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*/xlnx_auto_0_xdb/*

# Project files #
#################
*.prj

# Compiled sources #
####################
*.bld
*.cmd_log
*.lso
*.ngc
*.ngr
*.stx
*.syr
*.xst
top_*.xrpt
*/xst/*
*/_ngo/*
*/_xmsgs/*
*/netgen/*
*.pad
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*.ncd
*.csv
*.txt
*.xrpt
*.gise
*.bgn
*.bit
*.drc
*.ut
*.xwbt


# xilinx #
###############
xilinxsim.ini
fuse.xmsgs
_xmsgs/pn_parser.xmsgs
*/iseconfig/*

# impact #
*.xsl

# git changes #
###############
changes
