[submodule "projects/generic"]
	path = projects/generic
	url = https://github.com/krystian-wojtas/Spartan3Sim-generic.git
[submodule "projects/vga"]
	path = projects/vga
	url = https://github.com/krystian-wojtas/Spartan3Sim-vga.git
